<div class="header">
  <button class="back-button" (click)="goBack()">← Inapoi</button>
</div>
<h1>Analiza contestatii la romana</h1>
<div class="stats">
  <label for="countySelect">Alege județul:</label>
  <select id="countySelect" [(ngModel)]="selectedCounty" (change)="onCountyChange()">
    <option *ngFor="let code of counties" [value]="code">
      {{ countyNames[code] }}
    </option>
  </select>
  <div [innerHTML]="statisticiHtml"></div>
</div>

<div class="graph-switch">
  <label>
    <input type="radio" name="graphType" value="note" [(ngModel)]="selectedGraph" (change)="onGraphSwitch()"> Evoluția notelor
  </label>
  <label>
    <input type="radio" name="graphType" value="deviatie" [(ngModel)]="selectedGraph" (change)="onGraphSwitch()"> Devierea față de nota inițială
  </label>
</div>

<canvas *ngIf="selectedGraph === 'note'" id="chartNote" width="800" height="400"></canvas>
<canvas *ngIf="selectedGraph === 'deviatie'" id="chartDeviatie" width="800" height="400"></canvas>