<div class="form-container">
  <h2 class="question-title">Ce licee ți se potrivesc?</h2>
  <label>Selectează anul:</label>
  <select [(ngModel)]="selectedYear" class="form-select">
    <option value="2024">2024</option>
    <option value="2023">2023</option>
    <option value="2022">2022</option>
  </select>

  <label>Introdu media ta de admitere:</label>
  <input [(ngModel)]="medieAdmitere" class="form-control" placeholder="ex: 8.50" />

  <label>Introdu media generală de absolvire (opțional):</label>
  <input [(ngModel)]="medieAbsolvire" class="form-control" placeholder="ex: 9.70" />

  <button (click)="onSubmit()" class="btn btn-primary mt-2">Caută</button>
</div>