<div class="table-container">
  <div *ngIf="loading" class="loading-state">
    <div class="spinner"></div>
    <p>{{ translations[language].loading }}</p>
  </div>

  <div *ngIf="!loading && data.length === 0" class="empty-state">
    <p>{{ translations[language].empty }}</p>
  </div>

  <div *ngIf="!loading && data.length > 0" class="table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th (click)="sortData('school')" class="sortable">
            {{ translations[language].school }} {{ getSortIcon("school") }}
          </th>
          <th (click)="sortData('specialization')" class="sortable">
            {{ translations[language].specialization }} {{ getSortIcon("specialization") }}
          </th>
          <th>2022</th>
          <th>2023</th>
          <th>2024</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; trackBy: trackByFn">
          <td class="school-cell">{{ item.school }}</td>
          <td class="specialization-cell">{{ item.specialization }}</td>
          <td class="year-cell">
            <div *ngIf="getYearData(item, 2022) as yearData" class="year-data">
              <div class="index">{{ yearData.lastAdmittedIndex }}</div>
              <div class="grade">
                {{ yearData.lastAdmittedGrade | number : "1.2-2" }}
              </div>
            </div>
            <div *ngIf="!getYearData(item, 2022)" class="no-data">-</div>
          </td>
          <td class="year-cell">
            <div *ngIf="getYearData(item, 2023) as yearData" class="year-data">
              <div class="index">{{ yearData.lastAdmittedIndex }}</div>
              <div class="grade">
                {{ yearData.lastAdmittedGrade | number : "1.2-2" }}
              </div>
            </div>
            <div *ngIf="!getYearData(item, 2023)" class="no-data">-</div>
          </td>
          <td class="year-cell">
            <div *ngIf="getYearData(item, 2024) as yearData" class="year-data">
              <div class="index">{{ yearData.lastAdmittedIndex }}</div>
              <div class="grade">
                {{ yearData.lastAdmittedGrade | number : "1.2-2" }}
              </div>
            </div>
            <div *ngIf="!getYearData(item, 2024)" class="no-data">-</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>